<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup_failed</title>
</head>
<body>
<!--=========== Header Start ==========-->
<header>
    <section class="header-area fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <img src="medinet.png" alt="Medinet">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8080/volunteers">Health Guides</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8080/articles">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8080/faq">FAQ</a>
                        </li>
                    </ul>
                    <div class="d-flex header-buttons mb-2">
                        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                        <a href="http://localhost:9090/register" class="btn btn-outline-info mr-1">Sign Up</a>
                        <a href="http://localhost:9090/login" class="btn btn-outline-info">Sign In</a>
                    </div>
                </div>
            </div>
        </nav>
    </section>
</header>


<!--=========== Header End ==========-->

<h1>Signup Failed!</h1>
<a href="http://localhost:8080/Signup">Return to signup page</a>
</body>
</html>