<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>medinet</title>
    <link rel="icon" href="Logo1.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>
<!--=========== Header Start ==========-->
<header>
    <section class="header-area">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="#"><img src="medinetexp.png" alt="Medinet" width="110" height="40"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8080/volunteers">Health Guides</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8080/articles">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8080/faq">FAQ</a>
                        </li>
                    </ul>
<!--                    <div class="d-flex header-buttons mb-2">-->
<!--                        &lt;!&ndash; <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
<!--                        <a href="http://localhost:9090/register" class="btn btn-outline-info mr-1">Sign Up</a>-->
<!--                        <a href="http://localhost:9090/login" class="btn btn-outline-info">Sign In</a>-->
<!--                    </div>-->
                </div>
            </div>
        </nav>
    </section>
</header>
<!--=========== Header End ==========-->

<!--=============Medicine Start=========-->
<div class="container">
<div class="d-flex align-content-around flex-wrap">
        <th:block th:each="medicineObject : ${medicineList}">
            <form action="action_page.php" method="post" th:action="@{/postStore}" th:object="${cart}" required>
            <div class="card-container">
                <div class="card">
                    <img th:src="@{${medicineObject.getUrl()}}" alt="tablet" style="width:248px; height:140px">
                    <h5 th:utext="${medicineObject.getName()}" ></h5>
                    <p th:utext=" '৳' + ${medicineObject.getPrice()}" ></p>
                    <p th:utext="${medicineObject.getDescripion()}" ></p>
                    <input type="hidden" th:value="${medicineObject.getId()}" th:attr="name='cartId'"/>
<!--                    <input type="number" style="width: 40px" value="1" required>-->
                    <select id="time" th:field="*{quantity}" required>
                        <option th:value="10">10pcs</option>
                        <option th:value="20">20pcs</option>
                        <option th:value="30">30pcs</option>
                    </select>
                    <button type="submit">Add to Cart</button>
                </div>
            </div>
            </Form>
        </th:block>

</div>
</div>
<!--=============Medicine End=========-->
<!--=========== Footer Start ==========-->
<footer class="text-center text-white" style="background-color: #21081a;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">MediNet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Store</a>
                    <a class="nav-link" href="#">Blog</a>
                    <a class="nav-link disabled">FAQ</a>
                </div>
            </div>
        </div>
    </nav>
</footer>

<!--=========== Footer End ==========-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
</body>
</html>