<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>medinet</title>
    <link rel="icon" href="Logo1.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="cart1.css">
</head>
<body>
<!--=========== Header Start ==========-->
<header>
    <section class="header-area">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="#"><img src="medinetexp.png" alt="Medinet" width="110" height="40"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8080/volunteers">Health Guides</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/store}">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/faq}">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</header>
<!--=========== Header End ==========-->
<div class="container">
<!--    <div class="container-fluid justify-content-center">-->
<!--        <div class="container-sm">-->
<!--            <a class="btn btn-primary" href="#" role="button">See Pending Orders</a>-->
<!--        </div>-->
<!--        <div class="container-sm">-->
<!--        <a class="btn btn-primary" href="http://localhost:9090/adminForm" role="button">Upload a new Product</a>-->
<!--        </div>-->
<!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-info" th:href="@{/orderList}" role="button"> See pending orders </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-success" th:href="@{/adminForm}" role="button"> Upload a new Product </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary" th:href="@{/productList}" role="button">See all Products </a>
            </div>
        </div>
    </div>
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
</body>
</html>