<!doctype html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>medinet</title>
    <link rel="icon" href="Logo1.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="cart1.css">
</head>
<body>
<!--=========== Header Start ==========-->
<header>
    <section class="header-area">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="#"><img src="medinetexp.png" alt="Medinet" width="110" height="40"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8080/volunteers">Health Guides</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/store}">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/faq}">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</header>
<!--=========== Header End ==========-->

<!--================Order llist start=========-->
<form action="action_page.php" method="get" th:action="@{/orderList}" th:object="${cart}" required>
    <div class="container mt-3">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Adress</th>
                <th scope="col">Number</th>
                <th scope="col">Product </th>
                <th scope="col">Quantity</th>
                <th scope="col">Price per product</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="finalProduct : ${finalBuyerInfoList}">
                <tr>

                    <td th:utext="${finalProduct.getName()}"> </td>
                    <td th:utext="${finalProduct.getAddress()}"> </td>
                    <td th:utext="${finalProduct.getNumber()}"> </td>
                    <td th:utext="${finalProduct.getProductName()}"> </td>
                    <td th:utext="${finalProduct.getQuantity()}"> </td>
                    <td th:utext="${finalProduct.getPrice()}"> </td>
                </tr>
            </th:block>
<!--            <tr>-->
<!--                <td> </td>-->
<!--                <td>Subtotal: </td>-->
<!--                <td th:text="${s}"></td>-->

<!--            </tr>-->
            </tbody>
        </table>


    </div>
</form>
<!--================Order llist start=========-->



</body>
</html>