<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation</title>
    <link rel="icon" href="Logo1.png">
    <link rel="stylesheet" href=" style.css">
    <link rel="stylesheet" href=" bootstrap.min.css">
</head>
<body>
<!--=========== Header Start ==========-->
<header>
    <section class="header-area">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="#"><img src="medinetexp.png" alt="Medinet" width="110" height="40"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8080/volunteers">Health Guides</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/store}">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/faq}">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</header>
<!--=========== Header End ==========-->
<!--=========== confirm Area Start ==========-->
<div class="container ml-5 mt-5 align-content-center">
<h1> Booking Confirmed </h1>
<p> Thank you for shopping with us. <br>
    Please call at +8800000000000 for any query.<br>
Your order will be delivered soon at Cash On Delivery</p>
</div>
<!--=========== confirm Area End ==========-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="jquery-3.5.1.min.js"></script>
<script src=" Signup_js.js"></script>
</body>
</html>